.SelectedList {
  min-width: 15em;
  min-height: 10em;
  max-width: 55em;
  max-height: 30em;
  overflow: auto;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;

  margin: 1em;

  background-color: lightblue;
}
