.Text {
  width: 12em;
  height: 5em;
  min-width: 12em;
  min-height: 5em;
  max-width: 12em;
  max-height: 5em;
  overflow: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0.5em;
  border-top: 1em inset cornflowerblue;

  background-color: aliceblue;
}
